{% extends "layout.njk" %}
      {% block content %}
      <container class="content">
        <row class="collapse">
          <columns small="6" valign="middle">
            <p class="text-right">Content</p>
          </columns>
        </row>
      </container>
      {% endblock %}
