<!-- footer.html -->
      <container>
        <row class="collapse">
          <columns small="6" valign="middle">
            <p class="text-right">Footer</p>
          </columns>
        </row>
      </container>
