<!-- header.html -->
      <container>
        <row class="collapse">
          <columns small="6" valign="middle">
            <img src="http://placehold.it/200x50/663399" />
          </columns>
          <columns small="6" valign="middle">
            <p class="text-right">HEADER</p>
          </columns>
        </row>
      </container>
