<!-- header.html -->
      <container class="header">
        <row class="collapse">
          <columns small="6" valign="middle">
            <p class="text-right">HEADER</p>
          </columns>
        </row>
      </container>
