{% extends "layout.njk" %}
      {% block content %}
      <!-- content -->
      <container>
        <row class="collapse">
          <columns small="6" valign="middle">
            <p class="text-right">Contentc ccc</p>
          </columns>
        </row>
      </container>
      {% endblock %}
